/* Colores */

:root {
    --primary: hsl(43, 100%, 50%);
    --primary-dark: hsl(43, 100%, 35%);
    --secondary: hsl(5, 100%, 31%);
    --secondary-dark: hsl(5, 100%, 16%);
    --gray: #4b4c4d;
    --white: #f5f9fa;
    --white2: #ebf3f5;
    --white3: hsl(199, 35%, 91%);
    --white4: #f9f9f9;
    --green: #29a71a;
    --black: #323333;
    --black2: #2a2b2b;
}