/* Estilos generales para la sección de productos usando Grid */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

/* Estilos para cada tarjeta (card) */
.card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

/* Estilos para la imagen dentro de la tarjeta */
.imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para el contenido de la tarjeta */
.content {
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.content p {
    color: #555;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.content h3 {
    color: #e44d26;
    font-size: 1.2rem;
}

/* Estilos para las secciones adicionales y bebidas */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente */
    text-align: center;
    /* Centra el texto */
    margin-bottom: 30px;
}


h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

/* Estilos para la lista vertical */
.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #555;
}

table {
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    /* Ajusta el radio de las esquinas según tus necesidades */
    overflow: hidden;
    /* Para asegurar que los bordes redondeados se apliquen correctamente */
}

table td,
table th {
    border: 10px 0px 0px 0px solid transparent;
    padding: 10px;
    /* Ajusta el espacio interno de las celdas según tus necesidades */
    text-align: left;
    background-color: var(--white3);
}