html {
    background: linear-gradient(var(--white), var(--white2));
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    /* 14px */
    margin: 0;
    /* Elimina el margen por defecto del body */
}

main {
    margin-top: 200px;
    /* Ajusta el margen entre el header y el main según tus necesidades */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}